// Typography Partial

html {
  font-size: 125%;
}

body {
  font-size: 0.8rem;
  font-family: $primaryFont;
  font-weight: 200;
  background-color: $secondaryColour;
  height: 100%;
  padding-bottom: 30px;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.temperature {
  font-family: $secodaryFont;
}
