// Variables partial

$primaryColour: #0000;
$secondaryColour: rgb(236, 246, 251);
$borderColour: #fff;
$backgroundColour: rgb(236, 246, 251);
$accentColour: rgb(78, 176, 235);

$primaryFont: "Montserrat", sans-serif;
$secodaryFont: "Antonio", sans-serif;
