// Variables Partial

$primaryColour: #0000;
// $secondaryColour: rgb(236, 246, 251);
$secondaryColour: rgb(255, 234, 215);
$weatherCardColour: rgb(234, 244, 250);
$borderColour: #fff;
$backgroundColour: rgb(236, 246, 251);
$accentColour: rgb(126, 74, 56);

$primaryFont: "Montserrat", sans-serif;
$secodaryFont: "Oswald", sans-serif;
