//Display Weather Partial

.weatherCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 270px 215px;
  border: 3px solid white;
  border-radius: 8px;
  box-shadow: 0px 10px 18px 5px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
  background-color: $weatherCardColour;
}

.weatherData {
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherData:nth-child(1) {
  grid-column: span 4;
}

.weatherData:nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}

.weatherData:nth-child(3) {
  grid-row: 2;
  grid-column: 2;
}

.weatherData:nth-child(4) {
  grid-row: 2;
  grid-column: 3;
}

.weatherData:nth-child(5) {
  grid-row: 2;
  grid-column: 4;
}

.flexContainer {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.currentWeatherImg {
  height: 120px;
}

.weatherInfo {
  text-align: center;
}

.currentTemperature {
  font-size: 3rem;
}

.weatherDescription {
  font-size: 1rem;
  margin: 10px auto 0 auto;
}

.weeklyImgs {
  height: 65px;
  margin: 15px auto 15px auto;
}

.weeklyTemperatures {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
