//Media Queries Partial

@media (max-width: 1110px) {
  //displayWeather.scss
  .weatherCard {
    width: 100%;
  }

  //selectCity.scss
  form {
    label {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  //displayWeather.scss
  .weatherCard {
    display: block;
    background-position: bottom;
  }

  .weatherData:nth-child(1) {
    padding: 30px 0;
  }

  .flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  //selectCity.scss
  form {
    label {
      width: 100%;
    }
  }
}
