//Media Queries Partial

@media (max-width: 1110px) {
  //displayWeather.scss
  .weatherCard {
    width: 100%;
  }

  //selectCity.scss
  form {
    label {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  //displayWeather.scss
  .weatherCard {
    display: block;
  }

  .weatherData {
    padding: 30px 0;
  }

  .flexContainer {
    flex-direction: column;
  }

  //selectCity.scss
  form {
    label {
      width: 100%;
    }
  }
}
